<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title>
</head>
<body>
    <form action="/new" method="post">
        <h1>Create new Message</h1>
        <label for="">
            <input name="authorsName" type="text" placeholder="Authors name">
        </label>
        <label for="">
            <input name="message" type="text" placeholder="Your message" >
        </label>
        <button>Submit</button>
    </form>
</body>
</html>